# Node.js dependencies
node_modules/

# Build directories
build/
dist/

# React build files
.env
.env.local
.env.*.local

# Logs
*.log

# MacOS specific files
.DS_Store

# IDE and editor files
.vscode/
.idea/

# Operating system files
Thumbs.db
ehthumbs.db

__pycache__/
*.pyc

# Video files
*.mp4
*.MP4
*.mov
*.MOV
*.avi
*.AVI
*.wmv
*.WMV
*.mkv
*.MKV
*.flv
*.FLV
*.webm
*.WEBM
*.m4v
*.M4V

# Test files and directories
automated_test/
automated_tests/
path_tests/
conftest.py
