.announcement-wrapper {
  display: grid;
  padding: 0rem 4rem 4rem 4rem;
  word-wrap: break-word; /* breaks long words */
  overflow-wrap: break-word; /* safer for all browsers */
}

.announcement-data,
.announcement-banner {
  display: grid;
  grid-template-columns: 0.5fr 0.75fr 5fr 1fr; /* adjust based on space needs */
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  padding: 1rem;
  word-wrap: break-word; /* breaks long words */
  overflow-wrap: break-word; /* safer for all browsers */
}

.announcement-data {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.announcement-data div {
  font-weight: 400;
}
.announcement-banner {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}

.announcement-title-pub {
  font-weight: 450;
  font-size: 1rem;
  max-width: 100%;
}
.announcement-content-pub {
  font-weight: 300;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal; 
  max-width: 100%;
}
.announcement-date-pub {
  font-weight: 350;
  font-size: 1.1rem;
}
