.carousel {
  width: 90%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

button.prev,
button.next {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: scale 0.2s;
  padding: 0;
}

button.prev {
  left: 0;
}
button.prev:hover {
  cursor: pointer;
  scale: 1.2;
}
button.next {
  right: 0;
}
button.next:hover {
  cursor: pointer;
  scale: 1.2;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: fit-content; 
  height: 100%;
}

.fit_image {
  max-width: 100%;
}
.carousel-slide {
  flex: 0 0 calc(100% / 3);
  background-color: transparent;
  margin: 10px;
  border-radius: 10px;
  transition: scale 0.2s;
  box-shadow: 0 0 0.1rem rgb(145, 145, 145);
}

.carousel-slide:hover {
  cursor: pointer;
  scale: 1.01;
}

#post-title {
  font-weight: 400;
}
#post-author {
  font-weight: 200;
  font-size: 15px;
}
#post-date {
  font-size: 10px;
}

#end-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.8rem;
  transition: background-color 0.2s;
}

.post-tag:hover {
  background-color: #ddd;
}