.carousel {
  width: 90%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(207, 206, 191);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

button.prev,
button.next {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: scale 0.2s;
  padding: 0;
}

button.prev {
  left: 0;
}
button.prev:hover {
  cursor: pointer;
  scale: 1.2;
}
button.next {
  right: 0;
}
button.next:hover {
  cursor: pointer;
  scale: 1.2;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

@media (width > 1000px) {
  .carousel-slide {
    flex: 0 0 calc(100% / 3)
  }
}

@media (width <= 1000px) {
  .carousel-slide {
    min-width: 100%;
  }
}
.fit_image {
  max-width: 100%;
}
.carousel-slide {
  background-color: rgb(241, 235, 211);
  margin: 10px;
  border-radius: 10px;
  transition: scale 0.2s;
  box-shadow: 0 0 0.1rem rgb(145, 145, 145);
}

.carousel-slide:hover {
  cursor: pointer;
  scale: 1.01;
}
