.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid grey;
}
.nav-logo {
  display: flex;
  justify-content: center;
}
.nav-logo img {
  max-width: 50px;
}
