a {
  font-family: 'DM Sans', sans-serif;
  color: black;
  cursor: pointer;
}

.menu-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width < 1000px) {
  .sidebar {
    width: 40%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    transition: left 0.5s;
    background-color: #e8d8b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }
  
  .sidebar.open {
    left: 60%;
    height: 100%;
    top: 0;
    background-color: #e8d8b2;
  }
}
@media (width >= 1000px) {
  .sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    transition: left 0.5s;
    background-color: #e8d8b2;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }
  
  .sidebar.open {
    left: 80%;
    height: 100%;
    top: 0;
    background-color: #e8d8b2;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 10px;
}
