<!-- Used to link the assets to frontend 
and lay the foundation for react to render on-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class = "header">Community Archive</title>
  <link rel="stylesheet" href="/Backend/css/style.css">
</head>

<body>
  <header>
    <!-- Navigation bar for mobile view -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/ContactUs">Contact</a></li>
        <li><a href="/Login">Login</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h3>120 East State's</h3>
    <h1>Trenton Archive</h1>
    <section class="content">
      <h2>Our Mission</h2>
      <p>120 East Group aims to preserve and share the hidden story of a historic 
        church with nearly 300 years of history. A platform for local and global 
        communities to connect and rebuild an auditory of life in the old city of Trenton. 
        What was life like decades ago?</p>
      <!-- Other content here -->
    </section>

  <!-- Button to open the modal -->
  <button id="openModalBtn">Share Your Story</button>

  <!-- The Modal -->
  <div id="shareStory" class="modal">
    <div class="modal-content">
      <span class="close-btn" id="CloseShareStory">&times;</span>
      <h2>Explore the Archive</h2>
    </div>
  </div>


  <!-- Button to Open the Modal -->
  <button id="OpenSearchArchives">Search...</button>

  <!-- The Modal -->
  <div id="searchArchives" class="modal">
    <div class="modal-content">
      <span class="close-btn" id="CloseSearchArchives">&times;</span>
      <h2>Explore the Archive</h2>
    </div>
  </div>


  <div class="contact-us">
    <h2>Contact Us</h2>
    <form id="contact-form" action="submit_form.php" method="POST">
      <label for="name">Your Name</label>
      <input type="text" id="name" name="name" required placeholder="Enter your name"> <br>

      <label for="email">Your Email</label>
      <input type="email" id="email" name="email" required placeholder="Enter your email"><br>

      <label for="message">Your Message</label>
      <textarea id="message" name="message" required placeholder="Write your message here"></textarea><br>

      <button type="submit">Send Message</button>
    </form>
  </div>

  <script src="script.js"></script>
    Click here to <a href="/api/items">begin</a>.<br>
  </main>

  <footer>
    <p>&copy; 120 East State 3</p>
  </footer>
</body>
